@mixin div_sizes($max_width) {
  max-width: $max_width;
}

body {
  background-image: url("../../assets/bg.jpg");
  color: #000000;
  
  @media screen and (max-width: 400px) {
    .innerWrapper {
      @include div_sizes(350px);
    }
  }
}

div {
  
}

#wrapper {
  min-width: 400px;
  margin: auto;
}

.innerWrapper {
  margin: 5px 5px 10px 5px;
  padding: 10px;
  background-color: #FFFFFF;
}

.imagePreview {
  width: 325px;
  height: 200px;
}

.titleDiv {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

