@mixin wrapper_size($wrapper_width) {
  #wrapper {
    width: $wrapper_width;
  }
}

body {
  background-image: url("../../assets/bg.jpg");
  color: #000000;

  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  
  @media screen and (min-width: 400px) {
    @include wrapper_size(400px);
  }

  @media screen and (min-width: 800px) {
    @include wrapper_size(800px);
  }
}

div {

}

#wrapper {
  margin: auto;
  min-width: 400px;
}

.innerWrapper {
  text-align: center;
  margin: 5px 5px 10px 5px;
  padding: 15px;
  background-color: #FFFFFF;
  // border: 5px solid black;
  width: 350px;
  height: 325px;
  float: left;
}

.imagePreview {
  width: 325px;
  height: 200px;
}

.titleDiv {
  width: 325px;
  text-align: left;
  padding-left: 15px;
}

